body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: black;
}

nav {
    display: inline-flex;

}

nav span {
    text-decoration: none;
    list-style-type: none;
    color: white;
    padding: 20px;
}

main {
    height: 2000px;
}